// 1. TIPOGRAFÍA
$font-heading: "Poppins", sans‑serif;
$font-body: "Montserrat", sans‑serif;


$line-height: 1.15;
$font-weight: 400;


// 2. PALETA DE COLORES


$color-default: #365196;
$color-default-hover: rgb(47, 44, 148);
// $color-default-press: #161041;
$color-white: #f5f4f4;
$color-default-disabled: rgba(46, 36, 115, 0.3);
$color-background: #F8F9FB;
$color-logo:#FCFCFC;


$radius-base: 4px;
$transition-base: 0.2s ease-in-out;


$color-green: #04d9b2;
$color-red: #cb4141;
$color-dark: #1f2937;
$color-dark-gray: #4b5563;
$color-gray-100: #f2f2f2;
$color-gray-200: #d1d5db;
$color-gray-300: #F6F5F6;
$color-background: #fcfcfc;


$color-success: #28a745;
$color-error: #cb4141;
$color-warning: #ffc107;