<section class="total-data">
    <app-card-total-data [titleData]="'Total'" [valueData]="'2534'" [iconData]="'assets/iconos/CashIcon.svg'" ></app-card-total-data>
    <app-card-total-data [titleData]="'Total'" [valueData]="'2534'" [iconData]="'assets/iconos/CashIcon.svg'" ></app-card-total-data>
    <app-card-total-data [titleData]="'Total'" [valueData]="'2534'" [iconData]="'assets/iconos/CashIcon.svg'" ></app-card-total-data>
    <app-card-total-data [titleData]="'Total'" [valueData]="'2534'" [iconData]="'assets/iconos/CashIcon.svg'" ></app-card-total-data>
    <app-card-total-data [titleData]="'Total'" [valueData]="'2534'" [iconData]="'assets/iconos/CashIcon.svg'" ></app-card-total-data>
</section>
