@import '../../../../styles/variables';
.navbar{
    &__List{
        li a{
            text-decoration: none;
            color: $color-white;          
            font-weight: 500;
        }
        list-style: none;       
        display: flex;         
        gap: 20px;              
        padding: 0;
        margin: 0;
    }

}