<app-header></app-header>
<app-main-section></app-main-section>
<app-explorer-seccion [propertis]="getAllDepartaments()" [title]="'Explora nuestras propiedades exclusivas.'" [label]="'Las propiedades que buscás, en un solo lugar'"></app-explorer-seccion>
<section class="seccion-information">
    <div class="seccion-information__container-img">
        <h2 class="seccion-information__container-img__title">Tu propiedad soñada, a solo un click!</h2>
        <img src="/assets/images/Building.png" alt="" class="seccion-information__container-img__img" />
    </div>
    <div class="seccion-information__container_details">
        <app-card-information [title]="'Seguridad y Tranquilidad'" [description]="'Tu seguridad y la de tu familia'" [urlImage]="'/assets/iconos/ticCardInformationIcon.svg'"></app-card-information>
        <app-card-information [title]="'Seguridad y Tranquilidad'" [description]="'Tu seguridad y la de tu familia'" [urlImage]="'/assets/iconos/pigIcon.svg'"></app-card-information>
        <app-card-information [title]="'Seguridad y Tranquilidad'" [description]="'Tu seguridad y la de tu familia'" [urlImage]="'/assets/iconos/HandshakeIcon.svg'"></app-card-information>
        <app-card-information [title]="'Seguridad y Tranquilidad'" [description]="'Tu seguridad y la de tu familia'" [urlImage]="'/assets/iconos/HomeIcon.svg'"></app-card-information>
    </div>
</section>
<app-explorer-seccion [propertis]="getAllBuildings()" [title]="'Oportunidades de inversión'" [label]="'Explora Nuestra Oferta de Complejos Residenciales'"></app-explorer-seccion>
<app-footer></app-footer>
