@import "../../../../styles/variables";
.search{
    display: flex;
    position: relative;
    z-index: 3;
    gap:8px;
   

    &__input-keysWord{
        width: 400px;
        border-radius: $radius-base;
        font-family: $font-heading;
        border: none;
        box-shadow: none;
        padding-left: 35px;
        outline: none;
        font-size: medium;
    }
    &__selects{
        border-radius: $radius-base;
        font-family: $font-heading;
        padding: 15px;
        // &--placeholder{
        //     color: $color-gray-primary;
        // }
        &:not(:valid) {
            color: $color-gray-primary;
          }
        
          
    }
}