<div class="search">
    <app-selector-toggle></app-selector-toggle>
    <input type="text" placeholder="Buscar por ubicación o palabra clave..." class="search__input-keysWord">
    <select name="" id="" class="search__selects">
        <option value="" disabled selected hidden class="search__selects--placeholder">Departamento</option>
    </select>
    <select name="" id="" class="search__selects">
        <option value="" disabled selected hidden class="search__selects--placeholder">Ambientes</option>
    </select>
    <select name="" id="" class="search__selects">
        <option value="" disabled selected hidden class="search__selects--placeholder">Precio</option>
    </select>>
    <app-button><img src="" alt=""></app-button>
    <app-button><img src="" alt=""></app-button>
</div>
