<div class="search">
    <app-selector-toggle></app-selector-toggle>
    <input type="text" placeholder="Buscar por ubicación o palabra clave..." class="search__input-keysWord">
    <select name="" id="" class="search__selects">
        <option value="" disabled selected >Departamento </option>
    </select>
    <select name="" id="" class="search__selects">
        <option value="" disabled selected  >Ambientes</option>
    </select>
    <select name="" id="" class="search__selects">
        <option value="" disabled selected >Precio</option>
    </select>
    <app-button size="small" teme="light" variant="primary"><img src="/assets/iconos/iconfilters.svg" alt=""></app-button>
    <app-button size="small" variant="primary" ><img src="/assets/iconos/iconSerch.svg" alt=""></app-button>
</div>
