   <div class="footer__overlay"></div>
   <footer class="footer">
    <div class="footer__head-container">
        <div class="footer__head-container__logo-container">
            <img src="/assets/iconos/LOGOIcon.svg" alt="" class="footer__head-container__logo-container__logo">
        </div>
        <nav class="footer__head-container__nav">
            <ul class="footer__head-container__nav__list">
                <li ><a href="/" class="footer__head-container__nav__list__itemHead">Inicio</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">servicios</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Registrarse</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Nosotros</a></li>
            </ul>
            <ul class="footer__head-container__nav__list">
                <li ><a href="/" class="footer__head-container__nav__list__itemHead">Secciones</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Alquilar</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Comprar</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Inverciones</a></li>
            </ul>
            <ul class="footer__head-container__nav__list">
                <li ><a href="/" class="footer__head-container__nav__list__itemHead">Propiedades</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Departamentos</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Casas</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Terrenos</a></li>
            </ul>
            <ul class="footer__head-container__nav__list">
                <li ><a href="/" class="footer__head-container__nav__list__itemHead">Contacto</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Informacion</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Ayuda</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item">Mail</a></li>
            </ul>
            <ul class="footer__head-container__nav__list">
                <li ><a href="/" class="footer__head-container__nav__list__itemHead">Seguinos</a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item"><img src="/assets/iconos/instagramIcon.svg" alt=""></a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item"><img src="/assets/iconos/FacebookIcon.svg" alt=""></a></li>
                <li ><a href="/" class="footer__head-container__nav__list__item"><img src="/assets/iconos/LinkedinIcon.svg" alt=""></a></li>
            </ul>
        </nav>
        
    </div>
    <div class="footer__social-container">
        <p class="footer__social-container__text">Copyright ©2023 | Todos los derechos reservados</p>
    </div>
</footer>
