<div class="form-login">
    
    
    @if(changeContentValue==='login'){
        <div class="form-login__container-cross">
            <app-cross-closure></app-cross-closure>  
        </div>
        <div class="form-login__container-logo">
            <img src="/assets/iconos/LOGOIconBlue.svg" alt="">
        </div> 
        <label for="" class="form-login__label">Elige como quieres ingresar</label>
        <div class="form-login__buttons-container">
            <app-button variant="authWith" (click)="onGoogleLogin()">
                <img src="/assets/iconos/FacebookIconColors.svg" alt="" class="form-login__buttons-container__icon">
                <span>Continuar con Facebook</span>
            </app-button>
            <app-button variant="authWith" (click)="onGoogleLogin()">
                <img src="/assets/iconos/GoogleIconColors.svg" alt="" class="form-login__buttons-container__icon">
                <span>Continuar con Google</span>
            </app-button>
            <app-button variant="authWith" (click)="onGoogleLogin()">
                Otro método
            </app-button> 
        </div>
        <p class="form-login__text-terms">Al iniciar sesión, aceptas los Términos y Condiciones, Declaraciones, Política de Protección de Datos y Política de Privacidad.</p>
    }
    @if (changeContentValue==='loginGoogle') {
        <div class="form-login__headerGoogle">
            <img src="/assets/iconos/GoogleIconColors.svg"alt="" class="form-login__headerGoogle__img">
            <label for="" class="form-login__headerGoogle__label">Acceder con Google</label>
        </div>
        <div class="form-login__titleGoogle">
            <h3 class="form-login__titleGoogle__textTitle">Elige una cuenta</h3>
            <p class="form-login__titleGoogle__textLabel">Para continuar a LOGO</p>
        </div>
        <div class="form-login__usersGoogle">
            <div class="form-login__usersGoogle__user">
                <img src="/assets/iconos/userIconExampleA.svg" alt="">
                <div class="form-login__usersGoogle__user__data">
                    <p class="form-login__usersGoogle__user__data__name">
                        Agustin
                    </p>
                    <span class="form-login__usersGoogle__user__data__email">
                        Agustin81&#64;gmail.com
                    </span>
                </div>
            </div>
            <div class="form-login__usersGoogle__user">
                <img src="/assets/iconos/userIconExampleM.svg" alt="">
                <div class="form-login__usersGoogle__user__data">
                    <p class="form-login__usersGoogle__user__data__name">
                        Agustin
                    </p>
                    <span class="form-login__usersGoogle__user__data__email">
                        Agustin81&#64;gmail.com
                    </span>
                </div>
            </div>
            <div class="form-login__usersGoogle__user">
                <img src="/assets/iconos/userIconExample.svg" alt="">
                <div class="form-login__usersGoogle__user__data">
                    <p class="form-login__usersGoogle__user__data__name">
                        Usar otra cuenta
                    </p>
                   
                </div>
            </div>
        </div>
    }
    
    
</div>
