<header class="header">
    <div class="header__container">
        <div class="header__container__left">
            <img src="assets/iconos/logo-dashboard-Hously.png" alt="">
            <button class="header__container__left__button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu size-4"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
            </button>
            <div class="header__container__left__search">
                <img src="assets\iconos\iconSearchDark.svg" alt="" class="header__container__left__search__icon">
                <input type="text" class="header__container__left__search__input" placeholder="Search...">
            </div>
            
        </div>
        <div class="header__container__right">
            <button class="header__container__right__button"><img src="assets\iconos\usa.png" alt="" class="header__container__right__button__img"></button>
            <button class="header__container__right__button"><img src="assets\iconos\iconNotification.svg" alt="" class="header__container__right__button__img"></button>
            <button class="header__container__right__button"><img src={{iconUser}} alt="" class="header__container__right__button__img"></button>
        </div>
    </div>
</header>
