.seccion-analytics{
    display: flex;
    flex-direction: column;
    background-color:transparent;
    gap: 15px;
    margin: 15px 0 15px 0;
    &__top{
        display: flex;
        gap: 15px;
        &__left{
            width: 75%;
            &__select{
                    padding: 8px 40px 8px 12px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    &:focus {
                    outline: none;
                    }
            }
        }
        &__right{
            width: 25%;
        }
    }
    &__bottom{
        gap: 15px;
        display: flex;
        &__left{
            width: 20%;
        }
        &__medium{
            width: 60%;
        }
        &__right{
            width: 20%;
        }
        
    }
}
// &__select {
//     padding: 8px 40px 8px 12px;
//     border-radius: 4px;
//     border: 1px solid #ccc;
//     &:focus {
//       outline: none;
//     }
//   }